fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
ollama
pypdf
sentence-transformers
faiss-cpu
pytest
httpx
python-dotenv
urllib3<2.4.0
